<div class="cabecalho">
    <nav [class]="abaActive == true ? 'show' : 'hidden'" class="menuFilmes">
        <div class="nav-item menuVisitante">
            <i class="fas fa-smile"></i>
            <strong>Olá Visitante</strong>
        </div>
        <li class="nav-item">
            <a data="planetas" (click)="toggleMenu(false)" class="nav-link active" [routerLink]="['/planetas']">
                <i class="fas fa-globe-americas"></i>
                Planetas
            </a>
        </li>
        <li class="nav-item">
            <a data="personagens" (click)="toggleMenu(false)" class="nav-link" [routerLink]="['/personagens']">
                <i class="fas fa-users"></i>
                Personagens
            </a>
        </li>
        <li class="nav-item">
            <a data="filmes" (click)="toggleMenu(false)" class="nav-link" [routerLink]="['/filmes']">
                <i class="fas fa-film"></i>
                Filmes
            </a>
        </li> 
        <li>
            <input class="inputPesquisa" type="text" (change)="buscar($event)" placeholder="Pesquisar" />
        </li>
        <li (click)="toggleMenu(false)"  style="position: absolute;bottom: 0;left: 0;height: 50px;background: black;">
            <i class="setMobile fas fa-arrow-left" style="padding: 13px;color: white;"></i>
        </li>
    </nav>
    <i class="setMobile fas fa-bars" (click)="toggleMenu(true)" style="padding: 13px;color: white;"></i>
    <div style="display:none;" class="pesquisaMobile">
        <input type="text" (change)="buscar($event)" placeholder="Pesquisar" />
    </div>
</div>
<router-outlet></router-outlet>